@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url("/assets/print.jpg");
  font-family: Chicago;
  font-size: 20px;
  color: white;
}


Card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#sign-out {
  position: right;
  border-top: 2px solid #f4f4f4;
  border-left: 2px solid #f4f4f4;
  border-right: 2px solid #616060;
  border-bottom: 2px solid #616060;
  border-radius: 0;
  color: white;
  background-color: black;
  height: 50px;
 
}

#top-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px 0;
}

#bottom-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

Carousel.item {
  object-fit: cover;
}

#generator {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.hstack {
  display: flex;
  justify-content: center;
  background-color: white;
}

.hanger {
  animation-name: rock;
  animation-duration: 4s;
  animation-iteration-count: infinite;

}

@keyframes rock {
  25%  {rotate: 30deg}
  50%  {rotate: -30deg}
  75%  {rotate: 30deg}
}

.modal-content {
  background: none;
  border: none;
}

.card {
  background: none;
  border: none;
}

.item.card-body {
  display: flex;
  flex-direction: column;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.pink {
  background-color: rgb(225, 64, 117)!important;
  outline: 2px solid rgb(45, 44, 44);
}

.black {
  background-color: black!important;
  color: white!important;
}

#add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 40px 20px;
}

.save {
  border-top: 5px solid #f4f4f4;
  border-left: 5px solid #f4f4f4;
  border-right: 5px solid #848484;
  border-bottom: 5px solid #848484;
  outline: 2px solid rgb(45, 44, 44);
  background-color: rgb(225, 64, 117);
  border-radius: 0;
  margin-top: 10px;
  color: black;
  width: 150px;
  font-size: 20px;
  font-weight: bold;
  line-height: normal;
  text-shadow: -1px -1px 1px #f4f4f4;

}

#nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#navbar {
  background-color: black;
}

.nav-link {
  color: white!important;

}

h1 {
  margin: 20px;
}

.btn-grp {
  display: flex;
  justify-content: center;
}

.navbar-nav {
  align-items: center;
}

#delete-outfit {
  margin: 10px;
}

.item-card {
  margin: 10px;
}

#sign-in {
  background-image: url("/assets/wave.gif");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: -2px -2px 2px #f4f4f4;

}

#row {
  display: flex;
  flex-direction: row;
}

#logo {
  font-size: 30px;
}
