@import 'bootstrap/dist/css/bootstrap.css';


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: white;
}


Card {
  display: flex;
}

.container {
  display: flex;
  justify-content: center;
}

#sign-out {
  position: right;
}

#top-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#bottom-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

Carousel.item {
  object-fit: cover;
}

Form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#generator {
 margin-top: 50px;
}

.hstack {
  display: flex;
  justify-content: center;
  background-color: white;
}

.hanger {
  animation-name: rock;
  animation-duration: 4s;
  animation-iteration-count: infinite;

}

@keyframes rock {
  25%  {rotate: 30deg}
  50%  {rotate: -30deg}
  75%  {rotate: 30deg}
}

#btn-row {
  display: flex;
}
